name: Bicep Linting

on:
  workflow_call:
    inputs:
      AZ_LOGIN:
        description: "Run Azure login? Required if linting private registry modules."
        required: false
        type: boolean
        default: false
    secrets:
      AZURE_CLIENT_ID:
        required: false
      AZURE_TENANT_ID:
        required: false
      AZURE_SUBSCRIPTION_ID:
        required: false

jobs:
  lint-bicep:
    name: Lint Bicep
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Azure Login (OIDC)
        if: ${{ inputs.AZ_LOGIN == true }}
        uses: azure/login@v2
        with:
          client-id:     ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id:     ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Install Azure CLI + Bicep
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
          az bicep install

      - name: Find Changed Files
        id: changes
        run: |
          echo "files=$(git diff --name-only HEAD^ HEAD | tr '\n' ',' )" >> $GITHUB_OUTPUT

      - name: Lint Files
        run: |
          echo "Starting lint..."
          for file in $(git diff --name-only HEAD^ HEAD | grep -E '\.bicep$'); do
            echo "Linting $file"
            az bicep build --file "$file"
          done
